<div class="container">
    <h1>Python Snippets for solving algorithms</h1>
    <p>(under construction)</p>
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event)" placeholder="Filter">
    </mat-form-field>
</div>



<div class="cards">
    <mat-card *ngFor="let d of data">
        <mat-card-title>{{d.explanation}}</mat-card-title>
        <mat-card-content>
            <app-code-block>
                {{d.code}}
              </app-code-block>
        </mat-card-content>
        <mat-card-footer>Categories: {{d.categories}}</mat-card-footer>
    </mat-card>
</div>

